.ChartLegend {
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .ChartLegend__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .ChartLegend__color {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 2px; }
  .ChartLegend__label {
    margin: 0 1em 0 0.2em; }
  .ChartLegend--vertical {
    -ms-flex-direction: column;
        flex-direction: column; }
    .ChartLegend--vertical .ChartLegend__item + .ChartLegend__item {
      margin-top: 0.2em; }
  .ChartLegend--horizontal {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
