.bar {
  fill: rgba(0, 174, 239, 0.7); }
  .bar:hover {
    fill: rgba(0, 174, 239, 0.85); }
  .bar--is-clickable {
    cursor: pointer; }

.bar.orange {
  fill: #ed7c55; }
  .bar.orange:hover {
    fill: rgba(237, 124, 85, 0.8); }
